* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
	background-color: #333;
	height: 50px;
	display: flex;
	justify-content: center;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	height: 100%;
}

.navbar-logo {
	margin-right: 20px;
}

.navbar-logo img {
	height: 30px;
	width: auto;
}

.navbar li {
	margin: 0 10px;
}

.navbar li a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
}

.navbar li a:hover {
	background-color: #555;
}

.navbar-dropdown {
	position: relative;
}

.navbar-dropdown-menu {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar-dropdown-menu li a {
	color: #333;
	padding: 10px;
	text-decoration: none;
	display: block;
}

.navbar-dropdown-menu li a:hover {
	background-color: #ddd;
}

.navbar-dropdown:hover .navbar-dropdown-menu {
	display: block;
}

.navbar-right {
	margin-left: auto;
}

  
.home{
    display: inline-block;
}

.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
    margin-right: 7px;
}

.nav--logo {
    max-width: 100px;
}

section {
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero--photo {
    max-width: 450px;
    align-self: center;
}

.hero--header {
    margin-bottom: 16px;
}

.hero--text {
    margin-top: 0;
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
    position: relative;
}

.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

/* ADD */
.card--title {
    overflow: hidden;
    font: bolder;
    text-overflow: ellipsis;
} 

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
    padding: 2px
}

/* ADD */
.card--price {
    margin-top: auto;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}